@model IEnumerable<RentalSystemModels.ProductModel>
@{
    ViewBag.Title = "ShowAllCustomerProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong><i class="fas fa-car"></i> &nbsp;Rent a Car</strong></h2>
<hr />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />

@if (Convert.ToString(Session["feedback"]) == "feedback")
{
    @Html.ActionLink("View Feedback", "DisplayFeedback", "Feedback", null, new { @class = "btn btn-primary" })
}
else
{
    <div>
        @Html.ActionLink("Post a Feedback!!", "Create", "Feedback", null, new { @class = "btn btn-primary" })
    </div>
}

<br />
<br />

<table id="products" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th>Image1</th>
            <th>Image2</th>
            <th>Image3</th>
            <th>Unit Price</th>

        </tr>
    </thead>


    <tbody>
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@item.ProductName, "ProductDetails", "Product", new { id = item.Id }, null)</td>
                    <td><img src=@Url.Content(@item.ProductImage1) width="200" height="100" /></td>
                    <td><img src=@Url.Content(@item.ProductImage2) width="200" height="100" /></td>
                    <td><img src=@Url.Content(@item.ProductImage3) width="200" height="100" /></td>
                    <td>@item.ProductUnitPrice</td>
                    <td>@item.ProductDescription</td>


                </tr>
            }*@
    </tbody>

</table>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            //$.ajax({
            //    type: "GET",
            //    url: "http://rentalsystem:96/api/products",
            //    crossDomain: 'true',
            //    dataType: 'json',
            //    success: function (data) {
            //        console.log("success");
            //    },
            //    complete: function (response) {
            //        alert("Callback done!");
            //    },
            //    error: function (xhr, status) {
            //        alert(status);
            //        alert(xhr);
            //    }


            //});


            $("#products").DataTable({
                "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
                "sPaginationType": "simple",
                ajax: {
                    type: "GET",
                    url: "http://localhost:58150/api/products",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "productName",
                        render: function (data, type, product) {
                            return "<a href='/Product/ProductDetails/" + product.id + "'>" + data + "</a> ";
                        }
                        
                    },
                    
                    {
                        data: "productImage1",
                        render: function (data) {
                            return "<img src='../" + data +"' width='200' height='100' />";
                        }
                    },
                    {
                        data: "productImage2",
                        render: function (data) {
                            return "<img src='../"+ data +"' width='200' height='100' />";
                        }
                    },
                    {
                        data: "productImage3",
                        render: function (data) {
                            return "<img src='../" + data + "' width='200' height='100' />";
                        }
                    },
                    {
                        data:"productUnitPrice"
                    }

                ]
            });
        });
    </script>
}
